{% extends 'baza.html' %}
{% load static %}
{% block title %}
Despre noi
{% endblock %}
{% block content %}

<div class="despre">
   <br>
   <h1 class="text-center titlu_produs">
     Despre noi
   </h1>
   <br>
   <p>
      Am creat aceasta pagina web din pasiunea pentru tehnologie si device-uri
      si din dorinta de a-mi aprofunda cunostintele  in dezvoltarea unei aplicatii
      web. Aici, la Magazinul Online, furnizăm clienților noștri laptopuri, tablete
      si telefoane de branduri renumite. Acest market furnizeaza smart device-urile
      cele mai apreciate pe internet  in momentul actual, iar stocul este mereu fresh,
      tinandu-te la  curent cu cele mai noi produse.
   </p>
   <br>
 </div>

{% endblock %}
